In [4]:
t=(2,2,4,3,5,8,6,4,9,1)
y=()
count=0
kkk=0
d=list(map(lambda x:x*x,t))
print(t)
print(d)
y=tuple(d)
l=max(y)
a=min(y)
for i in y:
    if(i==l):
        print("the max value index is",count)
    else:
        count+=1
for i in y:
    if(i==a):
        kkk+=1
        print("the min value count is",kkk)

(2, 2, 4, 3, 5, 8, 6, 4, 9, 1)
[4, 4, 16, 9, 25, 64, 36, 16, 81, 1]
the max value index is 8
the min value count is 1

In [33]:
l=[]
l.insert(0,'sumanth')
l.insert(1,'pradeep')
l.insert(2,'oopu mohan')
l.insert(3,'prabanjanam vamsi')
print(l)

['sumanth', 'pradeep', 'oopu mohan', 'prabanjanam vamsi']

In [30]:
l=[]

for i in range(65,92):
    if(i%2==0):
        l.append(chr(i))
print(l)

['B', 'D', 'F', 'H', 'J', 'L', 'N', 'P', 'R', 'T', 'V', 'X', 'Z']

In [32]:
n=int(input("enter"))
l=[]

for i in range(1,n+1):
    if(i%5==0 and i%7==0):
        l.append(i)
print(l)
l=[]

enter1000
[35, 70, 105, 140, 175, 210, 245, 280, 315, 350, 385, 420, 455, 490, 525, 560, 595, 630, 665, 700, 735, 770, 805, 840, 875, 910, 945, 980]

In [12]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [25]:
n=int(input("enter"))
l=[]

for i in range(n+1):
    if(i%2==0):
        l.append(i)
print(l)

enter50
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [22]:
l=[]
l.insert(0,123)
print(l)
l.insert(1,25)
print(l)
l.extend([12,36])
print(l)

[123]
[123, 25]
[123, 25, 12, 36]

In [17]:
l=[]
for i in range(10):
    l.append(i)
print(l)
l.append([11,12,13])
print(l)

print(l[10])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, [11, 12, 13]]
[11, 12, 13]

In [8]:
n=input("enter name with surname first")
p=''
n1=n.split()
s=n1[0]
n2=n1[1:]
for i in n2:
    p=p+i
print(s[0],'.',p)

enter name with surname firstsangu pradeep kumar
s . pradeepkumar

In [10]:
d='fdsfds fgefgew gdfge'
f=d.split()
print(f)
print(f[0][0])

['fdsfds', 'fgefgew', 'gdfge']
f